body {
   font-family: Geneva, Tahoma, sans-serif;
   font-size: 80%;
   color: #333333;
}

main {
   padding: 5px;
   border-top: 1px solid #bae1fa;
   float: left;
   width: 55%;
   height: 100%;
}
header {
   padding: 7px;
   border-bottom: 1px solid #E2EAEF;
   height: 40px;
   width: 100%;
}

nav {
   padding: 5px;
   border-bottom: 1px solid #E2EAEF;
   border-top: 1px solid #E2EAEF;
   border-right: 1px solid #E2EAEF;
   background-color: #f8eddc;
   width: 20%;
}


main table {
   padding: 2px;
}

main td {
   padding: 2px;
}



h1 {
   font-family: Verdana, Arial, sans-serif;
   font-size: 120%;
   color: #334d55;
}


h2 {
   font-family: Geneva, Tahoma, sans-serif;
   font-size: 120%;
   color: #334d55;
}
h3 {
   font-family: Geneva, Tahoma, sans-serif;
   font-size: 110%;
   color: #334d55;
}
h4 {
   font-family: Geneva, Tahoma, sans-serif;
   font-size: 100%;
   color: #334d55;
}


footer {
   font-family: Geneva, Tahoma, sans-serif;
   clear: both;
   text-align: center;
   padding: 7px;
   border-bottom: 1px solid #E2EAEF;
   border-top: 1px solid #E2EAEF;
   background-color: #f3f6f8;
   width: 100%;
}

a {
   color: #006c8c;
   text-decoration: none;
}

a:link {
   color: #006c8c;
   text-decoration: none;
}

a:visited {
   color: #003049;
   text-decoration: none;
}

a:hover {
   color: #0088bb;
   text-decoration: underline;
}
input {
   border: 1px solid currentcolor;
}

input[type=submit] {
   font-family: Verdana, Arial, sans-serif;
}

input:required:invalid {
   border: 1px solid red;
}

input:required:valid {
   border: 1px solid limegreen;
}

input:focus {
   background-color: #e6f7fa;
}

